@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet');
.dice {
  margin: 10px;
}
.dice img {
  border-radius: 10px;
  max-width: 100px;
  max-height: 100px;
}

.profile img {
  border-radius: 10px;
  max-width: 125px;
  max-height: 125px;
}

/*
    COMP2132
    author: Kimmie Ngo
    version: 11/01/2021
*/
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background-color: #184D47;
  background-position: center top;
}

section {
  border-radius: 5px;
  background-color: #FAD586;
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

article {
  border: none;
  background-color: transparent;
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-weight: bolder;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 2.8rem;
}

p, ul, li {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  line-height: 1.5rem;
}

/*general */
img {
  max-width: 100%;
  height: auto;
}

figure {
  text-align: center;
  margin: 5px;
}

figcaption {
  font-style: italic;
  font-size: smaller;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/*---end----*/
/* link, navigation */
a {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  padding: 3px;
  text-decoration: none;
  color: inherit;
}

a:link {
  background-color: transparent;
  color: black;
}

a:focus {
  background-color: transparent;
  -webkit-text-decoration: underline currentcolor;
          text-decoration: underline currentcolor;
  cursor: pointer;
  filter: saturate(1.2);
}

a:active {
  background-color: transparent;
  color: black;
}

/*---end----*/
/*header footer*/
header, footer {
  border-radius: 5px;
  display: block;
  max-width: 900px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

#top {
  color: black;
  background-color: #96BB7C;
  max-width: 99%;
  min-height: 100px;
  margin: 10px;
  padding-top: 25px;
  border-radius: 10px;
}

/*---end----*/
/*main body*/
main img:active, main img:hover, main img:focus {
  filter: brightness(1.2);
}

#wrapper {
  max-width: 900px;
  margin: 10px;
  padding: 5px;
  background-color: transparent;
  color: #FAD586;
}

/*---end----*/
.warning:before {
  /* add '!Warning' preamble */
  content: "❕Warning ";
  font-weight: bold;
  border: solid 2px red;
  padding: 5px 2px 2px 2px;
  margin-right: 4px;
  border-radius: 5px;
  background-color: white;
  color: var(--bad-color);
}

.warning:not(.warning-no-script) {
  margin-bottom: 1em;
}

/*---end----*/
button {
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #184D47;
  color: whitesmoke;
  border: solid 0.5px #FAD586;
  font-weight: bold;
  height: 50px;
  width: 90px;
}

button:hover, button:active {
  background-color: #96BB7C;
  color: black;
  filter: brightness(1.3);
  cursor: pointer;
}

.active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}

.non-active {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#game {
  display: block;
}

#dice-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "computer user";
}

#user {
  grid-area: user;
}

#computer {
  grid-area: computer;
}

.control-button {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: auto;
  grid-template-areas: ". newgame rolldice .";
}

#btn-new {
  grid-area: newgame;
  justify-self: end;
  margin: 10px;
}

#btn-roll {
  grid-area: rolldice;
  justify-self: start;
  margin: 10px;
}

.dice-container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  max-width: 320px;
  height: auto;
  background-color: #184D47;
  color: whitesmoke;
  border: 3px solid #96BB7C;
  border-radius: 10px;
  padding: 20px;
}

.profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  min-width: 100%;
}

#btn-exit {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -20px;
  top: -20px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #184D47;
  color: whitesmoke;
  border: 5px solid #C64756;
  border-radius: 50%;
}

#btn-exit:hover {
  filter: brightness(1.3);
  background-color: #FAD586;
  color: black;
}

#pop-up {
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
  max-width: 320px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  background-color: #FAD586;
  color: #184D47;
  border: 5px solid #C64756;
  border-radius: 10px;
  padding: 25px;
  transform: translate(-50%, -50%);
}

#btn-menu {
  display: block;
  background-color: #96BB7C;
  flex: 1;
  font-size: 1.5rem;
  width: 50px;
  color: whitesmoke;
  position: absolute;
  right: 10px;
  top: 20px;
}

#game-rules {
  width: 270px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 100px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #FAD586;
  color: black;
  border: 5px solid #C64756;
  border-radius: 5px;
}

/*
snow flake background copy from
https://codepen.io/codeconvey/pen/xRzQay
*/
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* Display sizes*/
@media screen and (min-width: 650px) {
  body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 5px;
    grid-template-areas: " . header ." " . main ." " . footer .";
  }

  header {
    grid-area: header;
  }

  #wrapper {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 750px 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 5px;
    grid-template-areas: " . header ." " . main ." " . footer .";
  }

  header {
    grid-area: header;
  }

  #wrapper {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}
@media print {
  header, footer {
    display: none;
  }

  h1, h2 {
    -moz-column-break-after: avoid;
         break-after: avoid;
  }

  section {
    -moz-column-break-before: auto;
         break-before: auto;
  }
}